{# app/Resources/views/layout.html.twig #}



<!DOCTYPE html>

<html>

<head>

  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">


  <title>{% block title %}GEFOR Plateforme{% endblock %}</title>


  {% block stylesheets %}

    {# On charge le CSS de bootstrap depuis le site directement 

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">#}
    
    <link rel="stylesheet" href="{{ asset('asset/bootstrap-3.2.0/dist/css/bootstrap.min.css') }}">
    

    <link rel="stylesheet" href="{{ asset('asset/gefor.css') }}" type="text/css" media="all">

      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


    <link rel="stylesheet" href="{{ asset('asset/loader.js') }}">


  {% endblock %}

</head>


<body>
  
  <div class="container">

    <div id="header" class="jumbotron ali" >

      <img src="http://www.gefor.com/wp-content/uploads/2015/11/gefor_logo_slogan.png" />


      <h1>Inscription en ligne</h1>


      <p>

        Cette plateforme vous est proposée par GEFOR,<br />
        elle vous permet une inscription en ligne.

      </p>

    </div>

    
    <div class="row">

      <div id="menu" class="col-md-3">

        <h3>Navigation</h3>

        <ul class="nav nav-pills nav-stacked">

          <li><a href="{{ path('Inscription') }}">S'inscrire en ligne</a></li>
          
          <li><a href="{{ path('formation_index') }}">Formations</a></li>

        {% if is_granted('ROLE_DEVELOPPEUR') %}
          <li><a href="{{ path('Admin') }}">Administration</a></li>
        {% endif %}

          <li><a href="{{ path('Admin_stats') }}">Statistiques</a></li>

        </ul>

        
      {% if is_granted('IS_AUTHENTICATED_FULLY') == false %}

        <h3>Créer un compte</h3>
         <ul class="nav nav-pills nav-stacked">
          <li><a href="{{ path('user_new') }}">Je créer mon compte</a></li>   
        </ul>
      {% else %}
        {% if is_granted('ROLE_DEVELOPPEUR') %}

        <h3>Créer un compte</h3>
         <ul class="nav nav-pills nav-stacked">
          <li><a href="{{ path('user_new') }}">Je créer mon compte</a></li>
          <li><a href="{{ path('user_index') }}">Liste des utilisateurs</a></li>   
        </ul>

      {% endif %}
      {% endif %}


        <h3>Identifiez vous</h3>

        <ul class="nav nav-pills nav-stacked">
          <li><a href="{{ path('login') }}">Se connecter</a></li>  
          <li><a href="{{ path('logout') }}">Déconnexion</a></li>
        </ul>



        <h3>Dernières Inscriptions</h3>

      {{ render(controller("GEFORPlatformBundle:Inscription:menu"))}}

    

      </div>

      <div id="content" class="col-md-9">

        {% block body %}

        {% endblock %}

      </div>

    </div>


    <hr>


    <footer class="jumbotron ali">

      <p>The sky's the limit © {{ 'now'|date('Y') }} and beyond.</p>

    </footer>

  </div>


  {% block javascripts %}

    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  {% endblock %}


</body>

</html>