{% extends "GEFORPlatformBundle::layout.html.twig" %}

{% block ocplatform_body %}
  
  <a href="#item" data-toggle="collapse"><span class="btn btn-default btn-block gris"><h3>Demande d' Inscritpion</h3></span></a> 



<div id="item" class="collapse">
       <table>
       
              <tr class="bdd">
         
                <th class="id">Id</th>
                <th class="bdd">{{ 'Date' }}</th>
                <th class="formation">{{ 'Projet' }}</th>
                <th class="bdd">{{ 'nom' }}</th>
                <th class="bdd">{{ 'prénom' }}</th>
                {#<th>{{ 'Adresse' }}</th>#}
                <th class="bdd">{{ 'Cp' }}</th>   
                <th class="formation">{{ 'Situation' }}</th>
                <th class="modifier">{{ 'Action' }}</th>
                
              </tr>
              <table>
       
        	{% for a in candidat %}
            <table>
                        
              <tr class="bdd"> 
                <td class="id"><a href="{{ path('Inscription_show', { 'id': a.id }) }}">{{ a.id }}</a></td>    
                <td class="bdd">{{ a.date|date('d-m-Y') }}</td>
                <td class="formation">{{ a.Formation.type }}</td>
                <td class="bdd">{{ a.nom }}</td>
                <td class="bdd">{{ a.prenom }}</td>
                {#<td>{{ a.neele|date('Y') }}</td>#}  
                {#<td>{{ a.numerosecu }}</td>#}
                {#<td>{{ a.adresse }}</td>#}
                <td class="bdd">{{ a.cp }}</td>  
                <td class="formation">{{ a.Situation.type }}</td>
                <td class="modifier" >
                  <li>
                  <a href="{{ path('Inscription_show', { 'id': a.id }) }}">{{ 'Modifier' }}</a>
                  </li> 
                </td> 
              </tr>
            </table>

            {% endfor %}

          </div>


{#
    <div class="conteneur">
    <div id="div_chartg1"></div>
    <div id="div_chartg2"></div>
    </div>
    
   
    
    <script type="text/javascript">
        {{ gc_draw(piechartg1, 'div_chartg1') }}
        {{ gc_draw(piechartg2, 'div_chartg2') }}
    </script>
#}
    
 <a href="#item2" data-toggle="collapse"><span class="btn btn-default btn-block gris"><h3>Affichage par projet souhaité</h3></span></a> 

<div id="item2" class="collapse">

{#

{% for a in filtre %}

            <table>
              <tr>
                
                <th>{{ 'Date' }}</th>
                <th>{{ 'prénom' }}</th>
                <th>{{ 'Nationalité' }}</th>
                <th>{{ 'Adresse' }}</th>
                <th>{{ 'Cp' }}</th>
                <th>{{ 'Projet' }}</th>
                <th>{{ 'Situation' }}</th>
                
              </tr>
              <table>
              <table>
                        
              <tr> 

                {#<td>{{ a.id }}</td>           
                <td>{{ a.date|date('Y-m-d') }}</td>
                <td>{{ a.prenom }}</td>
                {#<td>{{ a.neele|date('Y') }}</td>
                <td>{{ a.nationalite }}</td>
                {#<td>{{ a.numerosecu }}</td>
                <td>{{ a.adresse }}</td>
                <td>{{ a.cp }}</td>
                <td>{{ a.Formation.type }}</td>
                <td>{{ a.Situation.type }}</td>
              </tr>
            </table>

{% endfor %}<br /><br />#}




{#            {% for a in situation %}
            <table>
              <tr> 
                <td>{{ a.id }}</td>           
                <td>{{ a.type }}</td>
                <td>{{ a.finance }}</td>
              
                <td>{{ a.langue }}</td>
                <td>{{ a.informatique }}</td>
                <td>{{ a.motivation }}</td> 
                
              </tr>
            </table>

            {% endfor %}<br />#}

            {% for a in formation %}
             
        
              <table>
                <h3><div class="ligne"> {{ a.type }} </div></h3>
              <table>
              <tr class="bdd">
                <th class="id">Id</th>
                <th class="bdd">{{ 'Date' }}</th>
                <th class="formation">{{ 'Projet' }}</th>
                <th class="bdd">{{ 'Nom' }}</th>
                <th class="bdd">{{ 'Prénom' }}</th>
                <th class="bdd">{{ 'Cp' }}</th>
                <th class="formation">{{ 'Situation' }}</th>
                <th class="modifier">{{ 'Action' }}</th>
              </tr>
              <table>
                {% for b in a.candidats %}
                <table>
                    <tr class="bdd">
                          <td class="id"><a href="{{ path('Inscription_show', { 'id': b.id }) }}">{{ b.id }}</a></td>    
                          <td class="bdd">{{ b.date|date('d-m-Y') }}</td>
                          <td class="formation">{{ a.type }}</td>
                          <td class="bdd">{{ b.nom }}</td>
                          <td class="bdd">{{ b.prenom }}</td>
                          <td class="bdd">{{ b.cp }}</td>
                          <td class="formation">{{ b.situation.type }}</td>
                          <td class="modifier">
                  <li>
                  <a href="{{ path('Inscription_show', { 'id': b.id }) }}">{{ 'Modifier' }}</a>
                  </li>                 
                </td>     
                    </tr>
              </table>


            {% endfor %}
            {#
             {% if loop.index < 4 %}
              <div id="div_chart_loop{{loop.index}}"  ></div>

              <script type="text/javascript">
                        {{ gc_draw(piechart[loop.index], 'div_chart_loop' ~ loop.index) }}
              </script> 
              {% endif %}#}
        {% endfor %}

    </div>

<a href="#item3" data-toggle="collapse"><span class="btn btn-default btn-block gris"><h3>Prise de contact</h3></span></a> 

<div id="item3" class="collapse">




 <h3><div class="ligne"> Demande de Rendez - Vous </div></h3>

  <table>
              <tr class="bdd">
                <th class="bdd">Id</th>
                <th class="bdd">{{ 'Nom' }}</th>
                <th class="bdd">{{ 'prénom' }}</th>
                <th class="bdd">{{ 'Date demande' }}</th>
              </tr >
              <table>

          {% for a in contactarray %}


           
              <table> 
                <tr class="bdd"> 
              {% for key,value  in a %} 
              {# <td class="id"><a href="{{ path('Inscription_show', { 'id': b.id }) }}">{{ b.id }}</a></td> #}
              <td class="bdd">
                {% if key == 0  %}
                <a href="{{ path('Inscription_show', { 'id': value }) }}">{{ value }}</a>
                {% else %}
                  {{ value }}
               {% endif %}
              </td>  
              {% endfor %}
            </tr>
          </table>
            {% endfor %}
          </div>         
{% endblock %}
