{% extends "GEFORPlatformBundle::layout.html.twig" %}

{% block ocplatform_body %}

	{{ listErrors }}


	 {% for message in app.session.flashbag.get('notice') %}

        <p>Message flash : {{ message }}</p>

      {% endfor %}

  <h3>Merci de renseigner les éléments du formulaire</h3> 
  <object data="{{ asset('asset/photo/ppe3.pdf') }}" type="application/pdf">
   <a href="{{ asset('asset/notice.pdf') }}" target="_blank">Aide</a>
   </object>

      {{ form(form) }}
    
{% endblock %}