{% extends "GEFORPlatformBundle::layout.html.twig" %}

{% block body %}{{ parent() }}
    <h1>Candidat</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ candidat.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ candidat.nom }}</td>
            </tr>
        </tbody>
    </table><br/><br/>

   
            <a href="{{ path('Admin') }}" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> Retour à la liste</a>
            
        {% if is_granted('ROLE_DEVELOPPEUR') %}
           <a class="btn btn-default" href="{{ path('Inscription_edit', { 'id': candidat.id }) }}"><span class="glyphicon glyphicon-edit"></span>Modifier</a><br/><br/>
       {% endif %}
        
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            {{ form_start(delete_form) }}
                <button class="btn btn-danger" type="submit"><span class="glyphicon glyphicon-trash"></span> Supprimer</button>
            {{ form_end(delete_form) }}
        {% endif %}
     
{% endblock %}
