{% extends "GEFORPlatformBundle::layout.html.twig" %}

{% block ocplatform_body %}
   
    <div class="navbar navbar-default gris"><h2>Liste des utilisateurs</h2></div>

    <table>
        <thead>
            <tr class="bdd">
                <th class="bdd">Id</th>
                <th class="bdd">Identifiant</th>
                <th class="bdd">Mot de passe</th>
                {#<th>Salt</th>#}
                <th class="droit">Droit</th>
                {% if is_granted('ROLE_DEVELOPPEUR') %}
                <th class="bdd">Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr class="bdd">
                <td class="bdd"><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                <td class="bdd">{{ user.username }}</td>
                <td class="bdd">{{ user.password }}</td>
                {#<td>{{ user.salt }}</td>#}
                <td class="droit">{% if user.roles %}{{ user.roles|join(', ') }}{% endif %}</td>
                {% if is_granted('ROLE_DEVELOPPEUR') %}
                <td class="bdd">
                    <ul>
                        <li>
                            <a href="{{ path('user_show', { 'id': user.id }) }}">Voir</a>
                        </li>
                        <li>
                            <a href="{{ path('user_edit', { 'id': user.id }) }}">Modifier</a>
                        </li>
                    </ul>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table><br/>

        {% if is_granted('ROLE_DEVELOPPEUR') %}
            <a href="{{ path('user_new') }}" class="btn btn-default">
                <i class="glyphicon glyphicon-edit"></i>&nbsp Creer un nouvelle utilisateur</a>
        {% endif %}        
{% endblock %}
