{% extends "GEFORPlatformBundle::layout.html.twig" %}

{% block body %}{{ parent() }}
    <h1>Modification des formations</h1>

<table>
    <tr>
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <button type="submit" class="btn btn-default" /><span class="glyphicon glyphicon-edit"> Modifier</span></button>
    {{ form_end(edit_form) }}

   
            <a href="{{ path('formation_index') }}" class="btn btn-default">
                <i class="glyphicon glyphicon-chevron-left"></i>&nbsp Retour à la liste
            </a>
       
            {% if is_granted('ROLE_SUPER_ADMIN') %}
            {{ form_start(delete_form) }}
                <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-trash">Supprimer</button>
 
            {{ form_end(delete_form) }}
            {% endif %}
   
        </tr>
</table>
      
{% endblock %}
