{% extends "GEFORPlatformBundle::layout.html.twig" %}

{% block body %}    {{ parent() }}
    <h1>Formations list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for formation in formations %}
            <tr>
                <td><a href="{{ path('formation_show', { 'id': formation.id }) }}">{{ formation.id }}</a></td>
                <td>{{ formation.type }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('formation_show', { 'id': formation.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('formation_edit', { 'id': formation.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table><br/>

    
            <a href="{{ path('formation_new') }}" class="btn btn-default"><i class="glyphicon plyphicon-edit"></i>Creer une nouvelle formation
            </a>
        

{% endblock %}
