{% extends "GEFORPlatformBundle::layout.html.twig" %}

{% block body %}    {{ parent() }}
    <h3>Formations disponibles</h3>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                {% if is_granted('ROLE_DEVELOPPEUR') %}
                <th>Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for formation in formations %}
            <tr>
                <td><a href="{{ path('formation_show', { 'id': formation.id }) }}">{{ formation.id }}</a></td>
                <td>{{ formation.type }}</td>
                {% if is_granted('ROLE_DEVELOPPEUR') %}
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('formation_show', { 'id': formation.id }) }}">Voir</a>
                        </li>
                        <li>
                            <a href="{{ path('formation_edit', { 'id': formation.id }) }}">
                            <i class="glyphicon glyphicon-edit"></i>
                            Modifier</a>
                        </li>
                    </ul>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table><br/>

            {% if is_granted('ROLE_DEVELOPPEUR') %}
            <a href="{{ path('formation_new') }}" class="btn btn-default">
            <i class="glyphicon glyphicon-edit"></i>&nbsp Creer une nouvelle formation
            </a>
            {% endif %}


{% endblock %}
