{% extends "GEFORPlatformBundle::layout.html.twig" %}

{% block body %}{{ parent() }}
    <h1>Formation création</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-share"></span> Créer</button>
    {{ form_end(form) }}<br/>

    
            <a class="btn btn-default" href="{{ path('formation_index') }}"><span class="glyphicon glyphicon-chevron-left"></span> Retour à la liste</button></a>

{% endblock %}
