{% extends "GEFORPlatformBundle::layout.html.twig" %}

{% block body %}{{ parent() }}
    <h1>Formation création</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-default" type="submit" value="Créer" /> 
    {{ form_end(form) }}<br/>

    
            <a class="btn btn-default" href="{{ path('formation_index') }}">Retour à la liste</a>

{% endblock %}
