{% extends "GEFORPlatformBundle::layout.html.twig" %}

{% block body %}{{ parent() }}
    <h1>Formation</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ formation.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ formation.type }}</td>
            </tr>
        </tbody>
    </table><br/><br/>


    
            <a href="{{ path('formation_index') }}" class="btn btn-default" >Retour à la liste<i class="glyphicon plyphicon-edit"></i></a>
            
        {% if is_granted('ROLE_DEVELOPPEUR') %}
            <a class="btn btn-default" href="{{ path('formation_edit', { 'id': formation.id }) }}">Modifier</a><br/><br/>
        {% endif %}
   

        {% if is_granted('ROLE_SUPER_ADMIN') %}
            {{ form_start(delete_form) }}
                <input class="btn btn-delete" type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        {% endif %}
   
{% endblock %}
